/* Algemene pagina-instellingen */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
header {
  width: 100%;
  background-color: lightskyblue;
  padding: 40px;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: relative;
}

header img {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  height: auto;
}

/* Main Styling */
main {
  flex: 1;
  padding: 20px;
}

/* Footer Styling */
footer {
  background-color: lightskyblue;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

/* Tabel Styling */
table {
  width: 80%; /* De tabel neemt 80% van de breedte van de pagina in */
  margin: 20px auto; /* Centrer de tabel horizontaal */
  border-collapse: collapse; /* Zorg ervoor dat de randen van de cellen samensmelten */
}

th, td {
  padding: 10px; /* Voeg ruimte binnen de cellen toe */
  text-align: left; /* Zorg ervoor dat de tekst in de cellen links uitgelijnd is */
  border: 1px solid #ddd; /* Voeg een lichte rand toe rond de cellen */
}

th {
  background-color: #f2f2f2; /* Achtergrondkleur voor de koptekst */
  font-weight: bold; /* Maak de tekst in de koptekst vet */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Zorg voor een lichte achtergrondkleur voor even rijen */
}

tr:hover {
  background-color: #ddd; /* Achtergrondkleur verandert wanneer je met de muis over een rij beweegt */
}
